.datePickerMonth {
  padding: 0 0.5rem;
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}
.datePickerMonth_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.datePickerMonth_top button {
  display: flex;
  align-items: center;
}
.datePickerMonth_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.6rem;
}
.datePickerMonth_btm_btn {
  padding: 0.3rem 0.5rem 0.4rem 0.5rem;
  border-radius: 4px;
  background: #444;
  color: #fff;
}
.datePickerInput {
  cursor: pointer;
  background: white url(/assets/calendar.png) no-repeat right 10px center;
}

/* MyDatePicker */
.myDatePicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.4rem;
  padding-left: 1rem;
}
.myDatePicker_btn {
  display: flex;
  align-items: center;
}
.myDatePicer_reset {
  margin-left: 8px;
  border-radius: 4px;
  padding: 0 6px;
  cursor: pointer;
  background: #444;
  color: #fff;
  font-size: 0.6rem;
  line-height: 30px;
}
